@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    
    <h1>Prezados usuários!</h1>
    <div
    <p class="lead">Essa aplicação permite o cadastro de alunos no banco de dados.</p>
   </div>
</div>

